.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 1200px;
  max-height: 370px;
  overflow: hidden;
  margin: 35px auto;
  border-radius: 10px;

  button {
    background: none;
    width: 40px;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    height: 400px;

    @media screen and (max-width: 767px) {
      width: 15px;
    }
  }

  .arrowLeft {
    left: 10px;
  }

  .arrowRight {
    right: 10px;
  }

  img {
    width: 100%;
    display: block;
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1rem;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
