.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    color: $color-1;
    font-size: 180px;
    padding: 20px;

    @media screen and (max-width: 767px) {
      font-size: 90px;
      padding: 50px 20px;
    }
  }

  p {
    font-size: 20px;
    color: $color-1;
    font-weight: 500;
    text-align: center;

    @media screen and (max-width: 767px) {
      font-size: 18px;
      margin: 10px 30px;
    }
  }
}

.linkError {
  text-decoration: underline;
  padding: 35px;
}
