@import "./settings";

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  gap: 16px;
  justify-content: center;
  background-color: $grisclair;
  border-radius: 25px;
  padding-top: 80px;
  padding-bottom: 80px;

  .card {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: none;
    background-color: transparent;
    height: 340px;
    width: 340px;
    position: relative;

    img {
      width: 360px;
      height: 340px;
      z-index: 1;
    }
    h2 {
      position: absolute;
      z-index: 2;
      bottom: 5px;
      left: 5px;
      font-size: 20px;
      color: $color-1;
    }
  }
}
