body {
  font-family: "arial";
  justify-items: center;
}

#errorCode,
#errorMsg,
#returnHome {
  text-align: center;
  color: rgba(255, 96, 96, 1);
}

#errorCode {
  font-size: 288px;
  margin: 0 auto;
}

#errorMsg {
  font-size: 36px;
}

#returnHome {
  font-size: 18px;
  text-decoration: underline;
}
