.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  justify-items: center;
}

.card {
  background: linear-gradient(to bottom, #ff6b6b, #d63447);
  border-radius: 10px;
  height: 340px;
  width: 340px;
  position: relative;

  .card-title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
  }
}
