#logo {
  margin-top: 30px;
  margin-left: 60px;
  width: 150px;
  height: 50px;
}

#navbar {
  list-style-type: none;
  display: flex;

  .navbaritem {
    margin-right: 30px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
